<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav style="background: black;">barra de navegação</nav>
    {{{body}}}
    <footer style="background: gold;">rodape</footer>
</body>
</html>