<div class="form">
    <h1>Livro Selecionado</h1>
    <br>
    <h2>{{book.title}}</h2>
    <br>
    <p>O livro <strong>{{book.title}}</strong> tem <strong>{{book.pageqty}}</strong> páginas</p>
    <a href="/books/edit/{{book.id}}">Editar</a>
</div>