<h1>Olá Handlebars</h1>
{{#with user}}
<p>O nome do usuário é <strong>{{name}}</strong> e sua idade é <span style="color: red;">{{age}}</span></p>

{{#if auth}}
    <h2>Sua idade te autoriza continuar para ver a <a href="/dashboard">senha</a></h2>
{{else}}
    <h2>Sua idade é <strong>{{age}}</strong> portanto não pode ver a senha, chame um maior de 18 anos</h2>
{{/if}}
{{/with}}