<h1>Cadastre seu livro</h1>

<form action="/books/insertbook" method="post" class="form">
    <div class="form_control">
        <label for="title">Título</label>
        <input type="text" name="title" id="title" placeholder="Digite o título do livro">
    </div>
    <div class="form_control">
        <label for="pageqty">Número de páginas</label>
        <input type="number" name="pageqty" id="pageqty" placeholder="Digite quantas páginas tem o livro">
    </div>
    <input type="submit" value="Cadastrar">
</form>