*{
    font-family: helvetica;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar{
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

ul{
    display: flex;
    list-style: none;
}

.navbar ul li a{
    margin-right: 1rem;
    text-decoration: none;
}

.navbar ul li a:hover{
    font-weight: bold;
}

.title{
    margin: 1rem;
    text-align: center;
}

.form{
    margin: 0 auto;
    width: 450px;
}

.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}


.form_control label{
    align-items: center;
    font-weight: bold;
}

.form_control input{
    padding: .5rem;
}

.form_checkbox{
    flex-direction: row;
}

.form_checkbox input{
    margin-right: 1rem;
}

.container{
    text-align: center;
}

.container_box{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    max-width: 80vw;
    gap: 1rem;
}

.item_box{
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1 1 29%;
    margin: .5rem;
    min-width: 30%;
    min-height: 200px;
    padding: .5rem;
}

.item_box:hover{
    border: 2px solid aquamarine;
    cursor: pointer;
}

.item_box__body{
    font-size: 2.5rem;
    padding: .5rem;
    min-height: 100px;
}

.item_box_links{
    display: flex;
    justify-content: flex-end;
}

.item_box_links a,
.item_box_links input{
    border: 1px solid #888;
    border-radius: 5px;
    text-decoration: none;
    background: #fff;
    padding: .5rem;
    color: #000;
    cursor: pointer;
    font-size: 1rem;
    margin-right: .5rem;
}

.item_box_links .details_btn{
    border-color: #2f92fc;
    color: #2f92fc;
}

.item_box_links .delete_btn{
    border-color: #f72036;
    color: #f72036
}

.item_box_links .edit_btn{
    border-color: #fad400;
    color: #fad400
}

.details_btn:hover,
.edit_btn:hover,
.delete_btn:hover{
    font-size: 1.2rem;
}