{{#with post}}
    <h1>{{title}}</h1>
    <h2>Tipo de aprendizado: {{category}}</h2>
    <p><strong>Descrição:</strong> {{body}}</p>
    <p><strong>Numero de comentários:</strong> {{coments}}</p>
{{/with}}