*{
    font-family: helvetica;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar{
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.navbar ul{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
}

.navbar ul li a:hover{
    font-weight: bold;
}

.title{
    text-align: center;
}