*{
    font-family: helvetica;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar{
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: 100px;
    padding: .5rem;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    justify-content: space-around;
}

.title{
    text-align: center;
}